.service_container{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    width:var(--container-width-lg);
    margin:0 auto;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    background-color:#1a1a1a;
}
.row::after {
      content: "";
      clear: both;
      display: table;
}
/* .servicei{
    padding: 10px;
    display: inline-block;
    margin: 25px 10px;
} */
.image-topic{
    color:#ffffff;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
/* @media screen and(max-width:1024px) {
    .about_container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about_content p{
        margin: 1rem 0 1.5rem;
    }
}
@media screen and(max-width:600px) {
    .about_me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about_card{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about_content{
        text-align: center;
    }
    .about_content p{
        margin: 1.5rem 0;
    }
} */
@media screen and(max-width:1024px) {
    header{
        height: 68vh;
    }
}
@media screen and(max-width:600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroll_down{
        display: none;
    }
}