.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 40% 48%;
    gap: 12%;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap:0em;
}
.contact_options{
    background: transparent;
    border-color: var(--color-primary-varient);
}
.contact_options-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact_options a{
    margin: 0.7rem;
    display: inline-block;
    font-size: 0.6rem;
}
form{
    display: flex;
    flex-direction: column;
    gap:1.2rem ;
}
input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid ;
    border-color: black;
    resize: none;
    color: black;
}
@media screen and(max-width:1024px) {
    .container.contact_container{
        /* grid-template-columns: 0.5fr;
        gap: 0.5rem; */
        width: var(--container-width-sm);

    }
}
@media screen and(max-width:600px) {
    .container.contact_container{
        width: var(--container-width-sm);
    }
}
