header{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    background-image: url("../../assets/Background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    filter: drop-shadow(1rem 1rem 1rem #000000);
}
.cam{
    float:right;
    top:-50px;
    left: 60px;
    position: relative;
    /* padding-top: -600px; */
    /* padding-left: 100px; */
    width:50%;
    height:25%;
}
.logo{
        float:right;
        top: 10px;
        right: 500px;
        position: relative;
        /* padding-top: -600px; */
        /* padding-left: 100px; */
        width:15%;
        height: 45%;
        border-radius: 50%;
        filter: drop-shadow(0.5rem 0.5rem 1.5rem #ffffff);
        /* padding: 20px; */
}
.header_container{
    /* text-align: center; */
    height: 100%;
    width: 100%;
}
.topics{
    padding-top: 7rem;
    font-weight: bold;
    color: #ffffff;
}
.cta{
    margin-top: 2.4rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8;
    position: absolute;
    left: 0;
    bottom: -20rem;
}
.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: #ffffff;
}
.me{
    width:26%;
    height: 20%;
    position: absolute;
    right:450px ;
    padding-top: 7rem;
}
.btn-primary-contact{
    width:max-content;
    display: inline-block;
    color:#ffffff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-weight: bold;
}
.btn-primary-contact:hover{
    background:#ffffff;
    color: var(--color-bg);
    font-weight: bold;
}
.btn-primary-contact{

    background: #000000;
    color: #ffffff;
    border-color:transparent;
    font-weight: bold;
}

.btn-primary-about{
    width:max-content;
    display: inline-block;
    color:var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-light);
    transition: var(--transition);
    font-weight: bold;
}
.btn-primary-about:hover{
    background:#ffffff;
    color: var(--color-bg);
    border-color: transparent;
    font-weight: bold;
}
.btn-primary-about{
    background:var(--color-light);
    color: var(--color-bg);
    font-weight: bold;
}

.container{
    width:130%;
    margin:0 auto;
}

/* @media screen and(max-width:1024px) {
    header{
        height: 68vh;
    }
}
@media screen and(max-width:600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroll_down{
        display: none;
    }
} */
@media screen and(max-width:1024px) {
    .header_container{
        grid-template-columns: 10fr;
        gap: 0;
    }
    .topics{
        width: 50%;
        margin: 2rem auto 4rem;
    }
}
@media screen and(max-width:375px) {
    .header_container{
        width: 25% !important;
        height: 70% !important;
        margin: 0 auto 1rem;
    }
    .topics{
        width: 10% ;
        margin: 2rem auto 4rem;
        padding: 1rem !important;
    }
    .container{
        width: 200%;
    }

}

/* @media screen and(max-width:600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroll_down{
        display: none;
    }
}
@media screen and(max-width:768px) {
    .container{
        width: var(--container-width-ms);
    }
    selection>h2{
        margin-bottom: 1rem;
    }
}

@media screen and(max-width:375px) {
    .container{
        width: 0%;
    }
    selection>h2{
        margin-bottom: 1rem;
    }
} */
